#toggle_red {
    background: #AA1111;
    color: #EEEEEE;
    font-family: DejaVu Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    min-width: 100px;
    margin: 10px 2px;
}
#toggle_green {
    background: #118811;
    color: #EEEEEE;
    font-family: DejaVu Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    min-width: 100px;
    margin: 10px 2px;
}
#btn_quit {
    margin: 0px 2px 10px 2px;
    padding: 0px;
}
#label_currentProject {
    font-family: DejaVu Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    margin: 5px 2px 2px 2px;
}
#label_currentTask {
    font-family: DejaVu Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    margin: 0px 2px 6px 2px;
    border-bottom: 1px solid black;
}
.project {
    font-family: DejaVu Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    margin: 0px 0px 1px 0px;
}
.task {
    font-family: DejaVu Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    margin: 0px 0px 1px 0px;
}
