#toggle_red {
    background: #AA1111;
    color: #EEEEEE;
    font-family: DejaVu Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    min-width: 100px;
    margin: 10px 2px;
}
#toggle_green {
    background: #118811;
    color: #EEEEEE;
    font-family: DejaVu Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    min-width: 100px;
    margin: 10px 2px;
}
#btn_quit {
    margin: 10px 2px;
}
